

/*

* {
    border: 1px solid red;
} 
*/

body {
    padding:0;
    margin:0;
    font-family: 'Roboto';
    
}

.header {
    height: 480px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #1F2937;
}

.header .top {
    height: 50px;
    margin: 0px;
    border: 0px;
    padding-left: 180px;
    padding-right: 180px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.header .top .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    flex: 4;
    padding: 5px;
    text-align: left;
}

.header .top .link {
    color: #E5E7EB;
    font-size: 18px;
    flex: 1;
    padding: 5px;
    text-align: right;
    white-space: nowrap;
}

.header .bottom {
    height: 430px;
    margin: 0px;
    border: 0px;
    padding-left: 180px;
    padding-right: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.header .bottom .flex {
    flex: 1;
}

.header .bottom .flex.one h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    text-align: left;
    margin: 0px;
    border: 0px;
}

.header .bottom .flex.one p {
    color: #E5E7EB;
    font-size: 18px;
    text-align: left;
    margin: 0px;
    border: 0px;
}

.header .bottom .flex.one button {
    height: 40px;
    width: 120px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    background: #3882F6;
    border-radius: 8px;
    margin: 0px;
    border: 0px;
}

.header .bottom .flex.two {
    color: #E5E7EB;
    font-size: 18px;
    background: rgb(121, 128, 133);
    flex: 1;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.random {
    height: 450px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: white;
}

.quote {
    height: 400px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #E5E7EB;
}

.call {
    height: 300px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: white;
}

.footer {
    height: 100px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #1F2937;
}